<span>Bonjour,</span>

<p>Un site a été créé pour vous, le site est accessible à l'URL suivante :</p>

<div class="service">
    <ul>
        <li><strong>{serviceType} :</strong> <a href="{serviceUrl}">{serviceUrl}</a></li>
        <li><strong>Date de suppression :</strong> {serviceDeletionDate}</li>
        <li><strong>Identifiant :</strong> {serviceUser}</li>
        <li><strong>Mot de passe :</strong> {servicePassword}</li>
        <li><strong>Lien d'administration :</strong> <a href="{serviceAdminUrl}">{serviceAdminUrl}</a></li>
    </ul>
</div>

<p>Vous serez l'administrateur du site, vous aurez donc la possibilité de le modifier à votre guise.</p>

<footer>Cordialement.</footer>
